body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Calibre';
  src: local('Calibre'), url(./fonts/Calibre-Regular.ttf) format('truetype');}
@font-face {
  font-family: 'Semi';
  src: local('Semi'), url(./fonts/Calibre-Semibold.ttf) format('truetype');}
@font-face {
  font-family: 'Light';
  src: local('Light'), url(./fonts/Calibre-Light.ttf) format('truetype');}
